@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
section{
    
   
    background-color: white;
    height:150vh ;
    border: 2px solid #00AD85;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
 
    padding-bottom: 5%;
}

#content{
  background-color: black;
  border-radius: 10px;
}
.heading{
    font-size: 1.3rem;
    font-weight: bolder;
    color: #00AD85;
    margin-left: 37.5%;
    margin-top: 7%;
    font-family: montserrat;
    text-transform: uppercase;
}
.about{
    font-size: .8rem;
    color: white;
   
    margin-left: 26%;
    line-height: 55%;
    font-family:montserrat ;
    padding-bottom: 2rem;
    margin-bottom: 6%;
}
.about2{
    margin-left: 6%;
}
.about3{
    margin-left: 10%;
}
.about4{
    margin-left: 15%;
}
.about5{
    margin-left: 17%;
}
.about6{
    margin-left: 31%;
    font-size: .8rem;
    font-family:montserrat ;
}
.end{
    font-size: 3rem;
    color: #00AD85;
    margin-left: 14%;
    padding-top: 5%;
    text-transform: uppercase;
}
.image{
    max-width: 300px;
    border: 13px solid #00AD85;
    margin-left: 37%;
    margin-top: 10;
 }
 @media screen and (max-width: 768px) {
    section{

        height:120vh ;
        border: 2px solid white;
        border-radius: 10px;
    }
  
    .heading{
        font-size: 1.2rem;
        margin-left: 10%;
    }
      
    .about {
        font-size: .9rem;
        padding-top: 1rem;
        margin-left: 0;  
        padding: 1rem;
        line-height: 1.4;  
     
        width: 90%;  
        margin: 0 auto;  
    }
    
    .about2, .about3, .about4, .about5, .about6 {
        margin-left: 0; 
        line-height: 1.4; 
        font-size: 1rem;  
    }
    .end{
        font-size: 1rem;
        margin-left:12%;
    }
    .image{
            max-width: 250px;
        margin-left: 13%;
        line-height: 55%;
     }
  }















