navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    padding: 1.3rem;
    color: black;
    font-size:1.1rem ;
    text-decoration: none;
}
.visit{
    padding: 1rem;
}
.visit button{
    padding: .6rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color:#006400 ;

}
.visit button a{
    text-decoration:none ;
    padding:.7rem;
    color: white;
}
.home-image{
    display: block;
    align-items: center;
    justify-content: center;
}